body
{
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

#container
{
    width: 1000;
    padding: 1em;
    text-align: left;
    border:  1px solid fuchsia;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}

#list
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 2;
    padding: 2;
}